* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.input-user {
    padding: 8px;
    display: block;
    margin: 16px auto 0;
    text-align: center;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
    outline: none;
    border: none;
    border-radius: 5px 5px 0 0;
}

:root {
    --corPrincipal: #f9ca24;
    --corSecundaria: #111;
}

:visited {
    color: var(--corSecundaria);
}
